<p id="notice"><%= notice %></p>

<h1>Ratings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Recipe</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.user_id %></td>
        <td><%= rating.recipe_id %></td>
        <td><%= rating.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
